* {
	font-family: raleway;
}
.page-header {
	margin-top: 100px;
}

header {
	font-size: 4em;
	letter-spacing: 1px;
}
#weather {
	color:#fff;
	width:175px;
	padding:1;
	font-size:11;
	font-family:Verdana;
}

#myCarousel {
	height: 500px;
	background-image: url("../img/shibainu.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.carousel-caption {
	position: initial;
}

/*FORMS*/

button {
	margin-top: 20px;
}

.glyphicon-tree-conifer {
	font-size: 3em;
	display: block;
	text-align: center;
	color: #3a87ad;
	margin-bottom: 20px;
}

.glyphicon-tree-deciduous {
	font-size: 3em;
	display: block;
	text-align: center;
	color: #3a87ad;
	margin-bottom: 20px;
}

.glyphicon-pencil {
	font-size: 3em;
	display: block;
	text-align: center;
	color: #3a87ad;
	margin-bottom: 20px;
}

#distance {
	margin-top: 25px;
	margin-bottom: 35px;
}

#feedback {
	margin-top: 25px;
	margin-bottom: 0px;
}



.banner {
	background-color: #333;
	margin: 20px 0;
	width:100%;
	height: 80px;
	color: white;
	line-height: 80px;
}

.banner p {
	margin-left: 55px;
	font-size: 3em;
	vertical-align: middle;
}

#hondo {
	/*background-image: url('../img/Hondo_Dog_Park_cropped.jpg');*/
	margin-top: 50px;
	margin-bottom: 30px;
	width: 100%;
	height: auto;
}

.county {
	position:absolute;
	bottom: 40px;
	left: 30px;
	color: #fff;
	font-size: 4em;
	/*vertical-align: bottom;*/
}

.tbLabel {
	text-align: right;
}

#parkframe {
	padding: 10px;
	margin-bottom: 50px;
	background-color: lightgray;
	border-radius: 5px;
}
#address {
	margin-bottom: 50px;
}

footer {

	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}


@media screen and (max-width: 500px) {
	header {
		text-align: center;
	}
	.county {
		/*background: -webkit-linear-gradient(#fff, #333);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;*/
		font-size: 1.5em;
		left: 65%;
		color: #333;
		bottom: 20px;
		}

	.banner p {
	margin: 0 auto;
	text-align: center;
	font-size: 2em;
	vertical-align: middle;
	}
}
